---
import { getCollection } from "astro:content";
import BlogSummary from "@components/BlogSummary.astro";
import Layout from "@layouts/Layout.astro";

const posts = await getCollection("blog");
---

<Layout title="blog">
  <main class="flow">
    <h1 class="letter-spaced">blog</h1>
    <hr />

    {posts.map((post) => <BlogSummary blog={post} headingAs={"h2"} />)}
  </main>
</Layout>
