---
import { getCollection } from "astro:content";

import BlogSummary from "@components/BlogSummary.astro";
import Layout from "@layouts/Layout.astro";
import ProjectSummary from "@components/ProjectSummary.astro";
import Socials from "@components/Socials.astro";

const posts = await getCollection("blog");
const projects = await getCollection("projects", ({ data }) => data.featured);
---

<Layout>
  <main class="flow">
    <h2 class="letter-spaced">about</h2>
    <hr />

    <p>
      I'm a programmer studying computer science at The University of
      Manchester.
      <br />
      I'm also a musician studying cello with Simon Turner.
    </p>
    <p>
      I'm interested in web development and how it can be used to create
      positive experiences. Most notably, I prize beautiful design that cares
      for those that use it.
    </p>
    <p>
      I've always used projects as a vessel for learning and rarely released
      them. As such I'm working on finishing some projects from my graveyard of
      ideas, so check back for new releases soon&trade;.
    </p>

    <Socials />

    <h2 class="letter-spaced">featured projects</h2>
    <hr />

    {projects.map((project) => <ProjectSummary project={project} />)}

    <a href="/projects">more projects</a>

    <h2 class="letter-spaced">blog</h2>
    <hr />

    {
      posts
        .reverse()
        .slice(0, 3)
        .map((post) => <BlogSummary blog={post} headingAs={"h3"} />)
    }

    <a href="/blog">more posts</a>
  </main>
</Layout>
