---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag } from "astro/types";
import { formatDate } from "@scripts/formatDate";

interface Props {
  blog: CollectionEntry<"blog">;
  headingAs: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
}

const { blog, headingAs: Element } = Astro.props;
---

<Element>
  <a href={"/blog/" + blog.slug}>{blog.data.title}</a>
</Element>

<p>{formatDate(blog.data.published)}</p>

<p>&gt; {blog.data.excerpt}</p>
