---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const { Content } = await project.render();
---

<h2 id={project.slug}>{project.data.name}</h2>

<p>&gt; {project.data.tagline}</p>

<Content />

<p>
  <a class="external" href={project.data.href}>visit project</a>
</p>
