<div>
  <a class="external" href="https://github.com/f11xter">GitHub</a> &middot;
  <a class="external" href="https://uk.linkedin.com/in/felix-waller">LinkedIn</a> &middot;
  <a class="external" href="mailto://f11xter@protonmail.com">Email</a> &middot;
  <a class="external" href="https://cupoftea.social/@f11xter" rel="me">Mastodon</a>
</div>