---
import "@assets/main.css";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>f11xter{title && " · " + title}</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header class="flow">
			<p
				class="heading letter-spaced"
				style={{
					display: "flex",
					alignItems: "center",
					fontSize: "2.5em",
					lineHeight: "1",
					marginBlockStart: "0",
				}}
			>
				<span style={{ fontSize: "2.5em", fontWeight: "100" }}>f</span>
				<span style={{ fontWeight: "300" }}>elix waller</span>
			</p>

			<p>programmer & musician</p>

			<nav aria-label="site navigation">
				<a href="/">home</a> &middot;
				<a href="/projects/">projects</a> &middot;
				<a href="/blog/">blog</a>
			</nav>
		</header>

		<slot />
	</body>
</html>
